<form class="search-form">
    <div class="row">
    <mat-form-field class="search-full-width">
      <mat-label>Name Of the Student</mat-label>
      <input matInput placeholder="Ex. Rahul" value="">
    </mat-form-field>
    <button style="margin-left: 2%;" type="button"  mat-flat-button color="primary">Search</button>
      </div>
 </form>
 <mat-grid-list [cols]="breakpoint" rowHeight="2:0.5" (window:resize)="onResize($event)">
    <mat-grid-tile>hello this is colo</mat-grid-tile>
    <mat-grid-tile>hello this is colo</mat-grid-tile>
    <mat-grid-tile>hello this is colo</mat-grid-tile>
    <mat-grid-tile>hello this is colo</mat-grid-tile>
    <mat-grid-tile>hello this is colo</mat-grid-tile>
    <mat-grid-tile>hello this is colo</mat-grid-tile>
    <mat-grid-tile>hello this is colo</mat-grid-tile>
    <mat-grid-tile>hello this is colo</mat-grid-tile>
    <mat-grid-tile>hello this is colo</mat-grid-tile>
    <mat-grid-tile>hello this is colo</mat-grid-tile>
    <mat-grid-tile>hello this is colo</mat-grid-tile>
  </mat-grid-list>